.container {
    margin: 0 auto;
}

.block {
    display: inline-block;
    position: relative;
    border: 1px solid grey;
    text-align: center;
    font-size: .8em;
    width: 2em;
}

.divblock {
    text-align: center;
    vertical-align: middle;
}

#pascal {
    margin: 0 auto;
    text-align: center;
}

.block:nth-child(odd) {
    background: cyan;
}

.block:nth-child(even) {
    background: grey;
}